* {box-sizing: border-box;}

/* body */
body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex; flex-direction: column;
    margin: 0 auto;
    height: 100%;
    width: 75%
}

/* header */
header {
    display: flex; flex-direction: row; align-items: center; justify-content: space-between;
    border-bottom: 1px solid rgb(206, 201, 201);
}
    header h3 {
        margin-left: 1%;
        font-weight: normal;
    }
    header .menu {
        margin-right: 5%;
        display: flex;
        gap: 20px;
    }

        header .menu a {
            font: 18px "Times New Roman";
            text-decoration: none;
            color: rgb(167, 167, 167);
        }
            header .menu a:hover {color: black;}

/* main */
main {
    margin-top: 2%;
    display: flex; flex-direction: row;
    padding: 1%;
    gap: 35px;
}

    /* left-column */
    .left-column {
        display: flex; flex-direction: column;
        width: 55%;
        gap: 20px;
    }
        .left-column .sections {
            display: flex;
            gap: 10px;
            font: 14px "Times New Roman";
        }
            .left-column .sections a {
                text-decoration: none;
                letter-spacing: 1.5px;
                color: rgb(167, 167, 167);
            }

                .left-column .sections a:hover {color: black;}

                .bar {color: rgb(218, 218, 218);}
                #a-selected {color: black}


        .photos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap:10px;
        }

            .photo {
                width: 100%;
                height: 150px;
            }

            #bigPhoto {
                grid-column: 1 / 4;
                width: 100%;
                height: 370px;
                object-fit: cover;
                object-position:  0% 55%
            }
            #scaledPhoto {
                object-fit: cover;
            }
    
    /* right-column */
    .right-column {
        display: flex; flex-direction: column;
        width: 45%;
    }

        .product {
            margin-top: 100px;
            display: flex; flex-direction: column; gap: 10px;
        }
            .product p {
                font-size: 40px;
                margin: 0
            }

        .description {
            display: flex; flex-direction: column;
            gap: 20px;
            font-size: 17px;
            border-top: 1px solid rgb(206, 201, 201);
            padding-top: 20px;
            line-height: 25px;
        }
            .description p {color: rgb(131, 131, 131);}

            .description button {
                font-size: 18px;
                height: 60px;
                width: 200px;
                background-color: black;
                color: white;
            }
                .description button:hover {background-color: rgb(103, 103, 103);}